.services{
    position: relative;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2C343E;
    width: 100%;
    border-radius: 8px;
    padding: 120px 370px 400px 370px;
    margin-top: 180px;
    &__h2{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
    }
    &__p{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        width: 540px;
        height: 80px;
    }
}

.services__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.services__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0E8784;
    border-radius: 8px;
    width: 350px;
    height: 380px;
    padding: 70px 45px 30px 45px;
    &__h3{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
        margin-top: 50px;
    }
    &__p{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        margin-top: 20px;
    }
}
